body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
nav{
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo ul a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.social-media {
  display: inline-flex;
  margin-left: 0px;
}
.social-media li{
  list-style: none;
  margin-left: auto;
}
.social-media li a{
  padding: 0px 5px;
  border-radius: 1px;
  transition: all 0.3s ease;
  align-items: bottom;
}
.social-media li a:hover{
  background: none;
  color: none;
}
.social-media li a img{
  height: 30px;
  width: 30px;
}


.menu ul{
  display: inline-flex;
}
.menu .tabs{
  list-style: none;
  margin-left: 7px;
}
.menu .tabs a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu .tabs a:hover{
  background: #fff;
  color: #000;
  box-sizing: content-box;
}
.img{
  background: url(./assets/images/image.jpg) no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.4);
}
.github{
  background: url(./assets/images/github-logo.png) no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.github::before{
  content: '';
  position: absolute;
  height: 5%;
  width: 5%;
  background: rgba(0,0,0,0.4);
}
.linkedin{
  background: url(./assets/images/linkedin-logo.png) no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.linkedin::before{
  content: '';
  position: absolute;
  height: 5%;
  width: 5%;
  background: rgba(0,0,0,0.4);
}
.twitter{
  background: url(./assets/images/twitter-logo.png) no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}
.twitter::before{
  content: '';
  position: absolute;
  height: 5%;
  width: 5%;
  background: rgba(0,0,0,0.4);
}
.center{
  position: absolute;
  top: 52%;
  left:50%;
  width: 100%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}
.center .quote{
  color: lightgray;
  opacity: 0.65;
  font-size: 20px;
  font-weight: 400;
}
.center .intro{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-top: 110px;
}
.center .intro-cont{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.intro{
  word-wrap: break-word;
  position: absolute;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}



/*btns is currently unused and has been removed from index.js*/
/*DEPRECATED -- Here for reference.*/
.center .btns{
  margin-top: 20px;
}
/*DEPRECATED -- Here for reference.*/
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
/*DEPRECATED -- Here for reference.*/
.center .btns button:first-child{
  color: #fff;
  background: none;
}
/*DEPRECATED -- Here for reference.*/
.center .btns button:first-child:hover{
  background: #fff;
  color: #000;
}
