


/* Background images */
[class$="-bg"]::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

/* Home */
.home-bg{
    background: url(./assets/images/image.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home-center{
    position: absolute;
    top: 52%;
    left:50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}
.home-title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.home-sub_title{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}
.home-quote{
    color: lightgray;
    opacity: 0.65;
    font-size: 20px;
    font-weight: 400;
}
.home-intro{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 110px;
}
  
.home-intro{
    word-wrap: break-word;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* About */
.about-bg{
    background: url(./assets/images/ricardo-gomez-angel--cZiFhghx6M-unsplash.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-intro{
    backdrop-filter: blur(5px);
    color: #e6e6e6;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}

/* Drop-down text box component */
.icon-text-box{
    z-index: 10;
    position: absolute;
}
.icon-text-box img{
    translate: 683px 200px;
    height: 25%;
    width: 25%;
    z-index: 10;
    --awakeopacity: 0;
}
