


/* Background images */
[class$="-bg"]::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.2);
}

/* Home */
.home-bg{
    background: url(./assets/images/image.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.home-center{
    position: absolute;
    top: 52%;
    left:50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}
.home-title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
}
.home-sub_title{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}
.home-quote{
    color: lightgray;
    opacity: 0.65;
    font-size: 20px;
    font-weight: 400;
}
.home-intro{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 110px;
}
  
.home-intro{
    word-wrap: break-word;
    position: absolute;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

/* About */
.about-bg{
    background: url(./assets/images/image.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-intro{
    backdrop-filter: blur(5px);
    color: #e6e6e6;
    font-size: 25px;
    position: absolute;
    text-align: center;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.tooltip{
    position: relative;
    z-index: 11;
}
/* Tooltip ONE */
#tooltip-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
}
#tooltip-1:hover~#tooltip-1-textbox{
    opacity: 1;
    transition: all 0.3s;
}
#tooltip-1-textbox{
    position: absolute;
    background-color: rgba(0, 72, 75, 0.3);
    backdrop-filter: blur(5px);
    opacity: 0;
    height: auto;
    width: 300px;
    left: -220px;
    top: 80px;
    border: solid rgba(0, 108, 116, 0.3) 2px;
    border-radius: 3px;
    box-sizing: content-box;
    size: static;
}
#tooltip-1-text{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    top: 0;
    left: 0;
    word-wrap: break-word;
    scrollbar-width: 5px;
}

/* Tooltip TWO */
#tooltip-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
}
#tooltip-2:hover~#tooltip-2-textbox{
    opacity: 1;
    transition: all 0.3s;
}
#tooltip-2-textbox{
    position: absolute;
    background-color: rgba(0, 72, 75, 0.3);
    backdrop-filter: blur(5px);
    opacity: 0;
    height: auto;
    width: 300px;
    left: -220px;
    top: 80px;
    border: solid rgba(0, 108, 116, 0.3) 2px;
    border-radius: 3px;
    box-sizing: content-box;
    size: static;
}
#tooltip-2-text{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    top: 0;
    left: 0;
    word-wrap: break-word;
    scrollbar-width: 5px;
}

/* Tooltip THREE */
#tooltip-3{
    position: absolute;
    top: 0;
    left: 0;
    width: 5%;
}
#tooltip-3:hover~#tooltip-3-textbox{
    opacity: 1;
    transition: all 0.3s;
}
#tooltip-3-textbox{
    position: absolute;
    background-color: rgba(0, 72, 75, 0.3);
    backdrop-filter: blur(5px);
    opacity: 0;
    height: auto;
    width: 300px;
    left: -320px;
    bottom: -150px;
    border: solid rgba(0, 108, 116, 0.3) 2px;
    border-radius: 3px;
    box-sizing: content-box;
    size: static;
}
#tooltip-3-text{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    top: 0;
    left: 0;
    word-wrap: break-word;
    scrollbar-width: 5px;
}

/* Drop-down text box component */
.icon-text-box{
    z-index: 10;
    position: absolute;
}
.icon-text-box img{
    translate: 683px 200px;
    height: 25%;
    width: 25%;
    z-index: 10;
    --awakeopacity: 0;
}
.icon-text-box img:hover + .textbox{
    opacity: 1;
    transition: all 0.3s;
}

/*  */
.textbox{
    color: #fff;
    opacity: 0;
    position: relative;
    display: flex;
    top: inherit;
    left: inherit;
}