.tooltip{
    position: relative;
    left: 500;
    top: 500;
}
.icon{
    position: absolute;
    width: 20%;
    height: 20%;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 8;
}
.scrollview{
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 9;
}
.text{
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 10;
    border: 3px;
    border-radius: 5px;
}
